<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>投稿画像の編集</h4>
      <%= render 'form', picture: @picture %>
      <a href="/pictures/<%=@picture.id%>"><button class="btn btn-primary btn-sm" type="submit">詳細画面</button></a>
      <a href="/pictures"><button class="btn btn-primary  btn-sm" type="submit">投稿画像一覧</button></a>
    </div>
  </div>
</div>
