<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h4>写真投稿</h4>
        <%= render 'form', picture: @picture %>
        <a href="/pictures"><button class="btn btn-primary" type="submit">戻る</button></a>
    </div>
  </div>
</div>
